body {
    margin: 0;
    font-family: "Helvetica",

        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

}

/* //hide navbar */

/* nav {
    display: none
} */

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Ticketfetch.css */

.entry {
    display: flex;
    flex-direction: row;

    margin-bottom: 5px;
    padding-left: 5px;
    /* justify-content: space-between; */

}

.entry:hover {
    box-shadow: 0 3px 1px rgb(0 0 0 / 0.1);
}

.property-button {
    margin-right: 5px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
}

.arrowIcon {
    height: 1.2rem
}


.titelLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-justify: center;
    margin-right: 900px;
    width: 70%;
    height: 26px
}



.seperator {
    font-size: 12px;
}


.firstContainer {
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-right: 80px;
    width: 300px
}

.secondContainer {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.thirdContainer {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 600px) and (max-width: 1103px) {
    body {
        padding-right: 40px;
        padding-left: 40px;
    }

    .mainContainer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: initial
    }

    .entry {
        display: flex;
        flex-direction: column !important;
        box-shadow: 0 3px 1px rgb(0 0 0 / 0.1);
        width: 100%
    }


    .firstContainer {
        margin-top: 5px;
        margin-bottom: 10px;

    }

    .secondContainer {
        margin-bottom: 10px;
        flex-direction: column !important;
        align-items: start;

    }

    .thirdContainer {
        margin-bottom: 5px;
    }




}

@media(min-width:1103) {
    .secondContainer {
        width: 500px
    }
}

@media (min-width: 1180px) {
    .titelLink {
        width: 50%
    }

    .secondContainer {
        width: 550px;
    }

    .genre {
        width: 50%;
        margin-left: 20px
    }
}

@media (max-width: 600px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .entry {
        display: flex;
        flex-direction: column !important;
        /* box-shadow: none; */
    }

    .entry {
        box-shadow: 0 3px 1px rgb(0 0 0 / 0.1);
    }

    .firstContainer {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%
    }

    .secondContainer {
        margin-bottom: 5px;
        flex-direction: column !important;
        align-items: start;
    }

    .thirdContainer {
        margin-bottom: 5px;
    }

    .titelLink {
        /* padding-left: px; */
    }



}

/* .wochentag{

}.datum{

}

.uhrzeit{

}

.genre{

}

.freieTickets{

}

.ticketIcon{

} */