body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Ticketfetch.css */

.entry {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
}

.property-button {
    margin-right: 5px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
}
